<h2>Create Your New Viewing Party</h2>

<%= form_tag "/parties", class: 'center-form', method: :post do %>

<div class="form-group">
  <%= text_field_tag :movie_id, @movie.id, hidden: true %>

  <%= label_tag :movie_title, "Movie Title:" %>
  <%= text_field_tag :movie_title, @movie.title, class: 'form-control', readonly: true %> <br>

  <%= label_tag :duration, "Duration (in minutes):" %>
  <%= number_field_tag :duration, "#{@movie.runtime}", class: 'form-control' %><br>

  <%= label_tag :datetime, "Select a date and time:" %>
  <%= datetime_select "party", "date", class: 'form-control' %><br><br>

  <section class="party-friends">
    <%= label_tag :friends, "Choose your friends you want to invite:" %><br>
    <%= collection_check_boxes("party", "guests", current_user.friends, :email, :name) do |b| %>
    <%= b.label(:"data-value" => b.value) { b.check_box + " " + b.text + " - " + b.value } %><br>
    <% end %>
  </section>


  <%= submit_tag "Create This Party", class: 'btn btn-primary my-2' %>
</div>
  <% end %>
