<%= render partial: 'shared/search' %>
<h1 class='movie-title'><%= @movie.title %></h1>
<div id="center-button">
  <%= button_to "Create Viewing Party", "/parties/new", method: :get, params: {movie_id: @movie.id}, class: "btn btn-outline-warning my-2" %>
  <section class="movie-poster my-2">
    <%= image_tag @movie.poster %>
  </section>
</div>


<section id='center'>
  <h4 class='movie-vote-average'>Vote Average: <%= @movie.vote_average %>
  <h4 class='movie-runtime'>Runtime: <%= @movie.formatted_runtime %>
  <h4 class='movie-genres'>Genres: <%= @movie.genres %>
</section><br>

<h2>Overview</h2>
<p class='movie-overview'>Overview: <%= @movie.overview %> </p>

<div id="center-button">
  <% if @movie.video %>
  <section class="movie-video">
    <h2>Clip</h2><br>
    <iframe width="560" height="315" src=<%="#{@movie.video}"%> frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </section>
  <% end %>
</div><br>

<h2>Cast</h2><br>
<div class="card-deck">
  <% @movie.cast.first(5).each do |actor| %>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <p class='movie-cast'> <%= actor %> </p>
    </div>
  </div>
  <% end %>
</div>
<div class="card-deck">
  <% @movie.cast.last(5).each do |actor| %>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <p class='movie-cast'> <%= actor %> </p>
    </div>
  </div>
  <% end %>
</div><br>

<h2 class='movie-review-count'> <%= @movie.reviews.size %> Reviews</h2><br>

<div class="accordion" id="accordion">
  <% @movie.reviews.each_with_index do |review, i| %>
    <div class="card">
      <div class="card-header" id=<%= "heading-#{i}" %>>
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target=<%= "#collapse-#{i}" %> aria-expanded="false" aria-controls=<%= "collapse-#{i}" %>>
            <p class='movie-review'>Author: <%= review.author %> </p>
          </button>
        </h2>
      </div>

      <div id=<%= "collapse-#{i}" %> class="collapse" aria-labelledby=<%= "heading-#{i}" %> data-parent="#accordion">
        <div class="card-body">
          <p class='movie-review'> <%= review.content %> </p>
        </div>
      </div>
    </div>
  <% end %>
</div><br>
