<%= render partial: 'shared/search' %>
<h1 class='movie-title'><%= @movie.title %></h1>
<div id="center-button">
  <%= button_to "Create Viewing Party", "/parties/new", method: :get, params: {movie_id: @movie.id}, class: "btn btn-outline-warning" %>
</div>

<section>
  <h3 class='movie-vote-average'>Vote Average: <%= @movie.vote_average %></p>
  <h3 class='movie-runtime'>Runtime: <%= @movie.formatted_runtime %> </p>
  <h3 class='movie-genres'>Genres: <%= @movie.genres %> </p>
</section>
<h2>Overview</h2>
<p class='movie-overview'>Overview: <%= @movie.overview %> </p>
<h2>Cast</h2>
<div class="card-deck">
  <% @movie.cast.first(5).each do |actor| %>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <p class='movie-cast'> <%= actor %> </p>
    </div>
  </div>
  <% end %>
</div>
<div class="card-deck">
  <% @movie.cast.last(5).each do |actor| %>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <p class='movie-cast'> <%= actor %> </p>
    </div>
  </div>
  <% end %>
</div>
<h2 class='movie-review-count'> <%= @movie.reviews.size %> Reviews</h2>
<% @movie.reviews.each do |review| %>
  <p class='movie-review'>Author: <%= review.author %> </p>
  <p class='movie-review'> <%= review.content %> </p>
<% end %>
