<h1>Welcome, <%= current_user.name %>!</h1>

<%= button_to "Discover Movies", discover_path, method: :get, class: 'btn btn-outline-warning', id: 'center-button' %>

<section class="friends">
  <h3>Friends</h3>
  <%= form_tag "/friendships", method: :post do %>
    <%= label_tag :friend_email, "Enter your friend's email" %>
    <%= text_field_tag :friend_email, nil, placeholder: "example@email.com" %>
    <%= submit_tag "Add Friend", class: 'btn btn-outline-primary' %>
  <% end %>
  <% if @friends.empty? == false %>
    <% @friends.each do |friend| %>
      <p>Name: <%= friend.name %> - Email: <%= friend.email %></p>
    <% end %>
  <% else %>
    <p>You currently have no friends</p>
  <% end %>
</section>


<section class="parties">
  <h3>Viewing Parties</h3>
  <% if !current_user.parties.empty? %>
    <table>
      <tr>
        <th>Title</th>
        <th>Date and Time</th>
        <th>Status</th>
      </tr>

    <% Party.is_hosting(current_user).each do |party|%>
      <tr class='hosting-party-row' id=<%="party-#{party.id}"%>>
        <td><%= link_to party.movie_title, "movies/#{party.movie_id}" %></td>
        <td> <%= party.datetime %> </td>
        <td>Hosting</td>
      </tr>
    <% end %>

    <% Party.is_guest(current_user).each do |party|%>
      <tr class='guest-party-row' id=<%="party-#{party.id}"%>>
        <td><%= link_to party.movie_title, "movies/#{party.movie_id}" %></td>
        <td> <%= party.datetime %> </td>
        <td>Invited</td>
      </tr>
    <% end %>
    </table>
  <% else %>
    <p>You have zero parties</p>
  <% end %>
</section>
