<!DOCTYPE html>
<html>
  <head>
    <title>Viewing Party</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-primary justify-content-between">
      <a class='text-light' href="/">Viewing Party</a>
        <% if logged_in? %>
        <%= button_to "Log out", "/logout", method: :get, class: 'btn btn-outline-dark' %>
        <% else %>
        <div class="form-inline">
          <%= link_to "Register", "/register", class: "mr-sm-2 text-light" %>
          <%= button_to "Log in", "/login", method: :get, class: 'btn btn-outline-light my-2 my-sm-0' unless controller_name == 'sessions'%>
        </div>
        <% end %>
    </nav>

    <% flash.each do |type, message| %>
      <% if type == 'success' %>
        <div class="alert alert-warning" role="alert">
          <%= message %>
        </div>
      <% else %>
        <div class="alert alert-dark" role="alert">
          <%= message %>
        </div>
      <% end %>
    <% end %>


    <main id="main">
      <%= yield %>
    </main>
    <footer>
      <img src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_square_2-d537fb228cf3ded904ef09b136fe3fec72548ebc1fea3fbbd1ad9e36364db38b.svg" alt="The MovieDB Logo" width="75px" style="margin:10px" >
      <div>
        <p>
          Thank you to <a href="https://www.themoviedb.org/about/logos-attribution">The MovieDB</a> for providing the movie data that is used in this application.
        </p>
        <p>
          Further citation information regarding the movie data used in this project can be found <a href="http://files.grouplens.org/datasets/movielens/ml-latest-small-README.html">here.</a>
        </p>
      </div>
    </footer>
  </body>
</html>
